# build output
dist/

# posts
posts/features/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# hidden directories
.vercel
.astro

# environment files
.env
.env.local
.env.*.local
